<section class="page-header">
    <div class="page-header-content">
        <h2>My Courses</h2>
    </div>
</section>
<!-- Student Table -->
<section class="dashboard-section" id="dashboard">
    <div class="container">
        <div class="table-container">
            <div class="table-header">
                <h4>My Courses</h4>
            </div>
            <table class="student-table" id="studentTable">
                <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Description</th>
                        <th *ngIf="user.role == 'student'">Note</th>
                        <th *ngIf="user.role == 'student'">Evaluation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let elm of t">
                        <td>{{elm._id}}</td>
                        <td>{{elm.courseName}}</td>
                        <td>{{elm.duration}}</td>
                        <td>{{elm.desc}}</td>
                        <td *ngIf="user.role == 'student'">{{elm.note}}</td>
                        <td *ngIf="user.role == 'student'">{{elm.evaluation}}</td>
                        <td>
                            <button (click)="goToInfo(elm._id)" class="action-btn edit" title="info">🔍</button>
                            <button *ngIf="user.role == 'teacher'" (click)="seeStudents(elm._id)" class="action-btn edit" title="Students">👥</button>
                            <button *ngIf="user.role == 'teacher'" (click)="goToEdit(elm._id)" class="action-btn edit"
                                title="Edit">✏️</button>
                            <button *ngIf="user.role == 'teacher'" (click)="deleteCourse(elm._id)"
                                class="action-btn delete" title="Delete">🗑️</button>
                        </td>            
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>