<section class="page-header">
    <div class="page-header-content">
        <h2>Add Course</h2>
    </div>
</section>
<!-- Student Form Section -->
<section class="form-section" id="student-form">
    <div class="container">
        <form id="studentForm" class="student-form" [formGroup]="addCourseForm">
            <div class="form-grid">
                <div class="form-group">
                    <label for="courseName">Course Name </label>
                    <input type="text" id="courseName" formControlName="courseName" name="courseName" required>
                    <div class="text-danger"
                        *ngIf="addCourseForm.controls['courseName'].invalid && (addCourseForm.controls['courseName'].touched || addCourseForm.controls['courseName'].dirty)">
                        <div *ngIf="addCourseForm.controls['courseName'].errors?.['required']">course name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="duration">Duration en mois</label>
                    <input type="number" formControlName="duration" id="duration" name="duration">
                    <div class="text-danger"
                        *ngIf="addCourseForm.controls['duration'].invalid && (addCourseForm.controls['duration'].touched || addCourseForm.controls['duration'].dirty)">
                        <div *ngIf="addCourseForm.controls['duration'].errors?.['required']">duration is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea formControlName="desc" name="desc" id="desc">Description</textarea>               
                </div>
            </div>
            <div class="form-actions">
                <button style="margin: 0 auto" type="submit" (click)="addCourse()" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</section>